

h1.letsplay
{
    font-size: 3em;
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: normal;
    font-family: emoji;
    color: #778899;
}

h1.loose
{
    font-size: 3em;
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: emoji;
    color: #dc143c;
}
h1.win
{
    font-size: 3em;
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: emoji;
    color: #1e90ff;
}

.demineurgame
{
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

.demineursquare
{
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

.rowSquare
{
    width: fit-content;
    float: none;
}

.resetBtn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10%;
    text-align: center;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.resetBtn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.resetBtn:active{
    font-size: 0px;
    font-weight: 0;
  }





.demineurboard div
{
    width : 45px;
    height : 45px;
    line-height: 45px;
    text-align: center;
    cursor : pointer;
    border: 1px solid black;
    float:left;
}


.squareFlaged
{
    color : white;
    font-weight: bold;
    background: rgb(170,170,170);
    background: radial-gradient(circle, rgba(170,170,170,1) 0%, rgba(136,136,136,1) 100%);
}



.squareclose
{
    background: rgb(170,170,170);
    background: linear-gradient(0deg, rgba(170,170,170,1) 0%, rgba(204,204,204,1) 100%);
}

.squareNoBombNext
{
    background-color: white;
    color : #888888;
    font-weight: normal;
}
.squareBombNext
{
    color : white;
    font-weight: bold;
    background: rgb(219,121,0);
    background: linear-gradient(0deg, rgba(219,121,0,1) 0%, rgba(255,154,0,1) 100%);
}
.squareIsBomb
{
    color : white;
    font-weight: bold;
    background: rgb(219,0,0);
    background: radial-gradient(circle, rgba(219,0,0,1) 21%, rgba(255,76,0,1) 100%);
}