

.demineursquare
{
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}


.demineursquare div
{
    width : 45px;
    height : 45px;
    line-height: 45px;
    text-align: center;
    cursor : pointer;
    border: 1px solid black;
    float:left;
}


.squareFlaged
{
    color : white;
    font-weight: bold;
    background: rgb(170,170,170);
    background: radial-gradient(circle, rgba(170,170,170,1) 0%, rgba(136,136,136,1) 100%);
}



.squareclose
{
    background: rgb(170,170,170);
    background: linear-gradient(0deg, rgba(170,170,170,1) 0%, rgba(204,204,204,1) 100%);
}

.squareNoBombNext
{
    background-color: white;
    color : #888888;
    font-weight: normal;
}
.squareBombNext
{
    color : white;
    font-weight: bold;
    background: rgb(219,121,0);
    background: linear-gradient(0deg, rgba(219,121,0,1) 0%, rgba(255,154,0,1) 100%);
}
.squareIsBomb
{
    color : white;
    font-weight: bold;
    background: rgb(219,0,0);
    background: radial-gradient(circle, rgba(219,0,0,1) 21%, rgba(255,76,0,1) 100%);
}